footer {
	background-color:$primary-color;
	bottom:0;
		.icons{
		padding:0;
		margin:0;
		list-style-type:none;
			.icons-list{
			display:inline-block;
			}
		}
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    color:$white;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}